{
  "responses": {
    "welcome": {
      "message": "",
      "options": {
        "1": "",
        "2": "",
        "3": ""
      },
      "next": "welcome-answer"
    },
    "welcome-answer": {
      "1": {
        "message": "",
        "next": "response1"
      },
      "2": {
        "message": "",
        "next": ""
      },
      "3": {
        "message": "",
        "next": ""
      }
    },
    "response1": {
      "message": "",
      "next": "end"
    },
  }
}
